package templates

import "schoolbooks/internal/page"

templ Home(pd *page.Data) {
    @Layout(pd) {
        <section>
            <h1>Welcome, { pd.User.Name }</h1>
        </section>
        <div class="grid">
            <h3>Dashboard</h3>
        </div>
    }
}
